.footer {
  border-top: 1px solid var(--border);
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    font-size: 14px;
    color: var(--gray);
  }

  &__right {
    font-size: 14px;
    color: var(--gray2);
    display: flex;
    gap: 10px;

    a {
      color: var(--gray);
      text-decoration: none;

      &:hover {
        color: var(--ink);
      }
    }

    svg {
      width: 16px;
      height: 16px;
      fill: var(--gray);

      &:hover {
        fill: var(--ink);
      }
    }
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 20px 24px;
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }
}
